fastapi
uvicorn
sqlalchemy
sqlmodel
psycopg2-binary
python-jose[cryptography]
passlib[argon2]
python-multipart
tensorflow
pydantic-settings
email-validator
pydantic
python-dotenv
gdown
numpy
pillow
tensorflow
opencv-python
